<section *ngIf="pagedOrders$ | async; let pagedOrders">
    <div *ngIf="!pagedOrders.content.length">
        You don't have any orders yet.
    </div>
    <section *ngIf="pagedOrders.content.length">
        <h2>MY ORDERS</h2>
        <div *ngFor="let order of pagedOrders.content">
            <h3>{{order.createdOn | date:'dd.MM.yyyyг. HH:mmч.'}}</h3>
            <ul>
                <li *ngFor="let food of order.foods">
                    {{food.name}} {{food.quantity}} x {{food.price | currency}}
                </li>
            </ul>

            <h3>{{calculateTotal(order.foods) | currency}}</h3>
            <button *ngIf="isTrackable(order)"
                (click)="trackOrder(order.id)"
                mat-raised-button
                color="primary">Track order</button>
            <button *ngIf="isFinished(order)"
                (click)="loadCart(order)"
                mat-raised-button
                color="accent">Add to cart</button>
        </div>
        <div>
            <mat-paginator
                [length]="pagedOrders.totalElements"
                [pageSize]="pagedOrders.size"
                [hidePageSize]="true"
                (page)="onPageChange($event)">
            </mat-paginator>
        </div>
    </section>
</section>