<div class="order">
    <h3>{{order.createdOn | date:'dd.MM.yyyyг. HH:mmч.'}}</h3>
    <h3>Restaurant: {{order.restaurant.name}}</h3>
    <ul>
        <li *ngFor="let food of order.foods">
            {{food.name}} {{food.quantity}} x {{food.price | currency}}
        </li>
    </ul>

    <p *ngIf="order.discountCode">Discount code used: {{order.discountCode.code}}</p>
    <h3 *ngIf="!order.discountCode">{{calculateTotal(order.foods) | currency}}</h3>
    <h3 *ngIf="order.discountCode">
        <span class="line-through">{{calculateTotal(order.foods) | currency}}</span>
        <span class="discount-percentage">&#8722; {{order.discountCode.discountPercentage}}%</span>
    </h3>
    <h3 *ngIf="order.discountCode">{{calculateTotalWithDiscount(order.foods, order.discountCode.discountPercentage) |
        currency}}</h3>
    <button *ngIf="isTrackable(order)"
        (click)="trackOrder(order.id)"
        mat-raised-button
        color="primary">Track order</button>
    <button *ngIf="isFinished(order)"
        (click)="loadCart(order)"
        mat-raised-button
        color="accent">Add to cart</button>
</div>