.discount-codes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-after::after {
  content: "";
  margin:30px;
  width:25%;
}

.discount-codes > div {
  width: 25%;
  margin: 30px;
}

h2 {
  text-align: center;
}

.add-button-wrapper {
  text-align: center;
  margin:50px 0;
}

.add-button {
  font-size:16px;
}
