section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-after::after {
  content: "";
  margin:30px;
  width:25%;
}

section > div {
  width: 25%;
  margin: 30px;
}

h2 {
  text-align: center;
}
