<article>
    <section *ngIf="restaurant">
        <form [formGroup]="restaurantForm">
            <h1>Restaurant data</h1>
            <div>
                <mat-form-field class="form-field">
                    <mat-label>Name</mat-label>
                    <input matInput
                        formControlName="name">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="form-field">
                    <mat-label>Description</mat-label>
                    <textarea matInput
                        cdkTextareaAutosize
                        formControlName="description"></textarea>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="form-field">
                    <mat-chip-list #chipList
                        aria-label="Categories">
                        <mat-chip *ngFor="let category of restaurant.categories"
                            [removable]="true"
                            (removed)="openCategoryDeleteConfirmation(category)"
                            [value]="category.id">
                            {{category.name | titlecase}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="Add Category"
                            [matChipInputFor]="chipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            (matChipInputTokenEnd)="openCategoryAdditionConfirmation($event)">
                    </mat-chip-list>
                </mat-form-field>
            </div>
            <div class="buttons">
                <div>
                    <button mat-raised-button
                        [color]="restaurantForm.enabled ? 'error' : 'primary'"
                        (click)="toggleForm()">{{restaurantForm.enabled ? 'Cancel' : 'Edit'}}</button>
                </div>
                <div *ngIf="restaurantForm.enabled">
                    <button mat-raised-button
                        (click)="editRestaurant()"
                        color="primary">Submit</button>
                </div>
            </div>
            <h1>Foods</h1>
            <div>
                <app-restaurant-food *ngFor="let food of restaurant.foods"
                    [food]="food"
                    [categories]="categories"
                    (delete)="removeFood(food)"></app-restaurant-food>
            </div>
        </form>
    </section>
</article>