<article>
    <section *ngIf="restaurant$ | async; let restaurant">
        <form [formGroup]="restaurantForm">
            <div>
                <mat-form-field class="form-field">
                    <mat-label>Name</mat-label>
                    <input matInput
                        formControlName="name">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="form-field">
                    <mat-label>Description</mat-label>
                    <textarea matInput
                        cdkTextareaAutosize
                        formControlName="description"></textarea>
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button
                    [color]="restaurantForm.enabled ? 'error' : 'primary'"
                    (click)="toggleForm()">{{restaurantForm.enabled ? 'Cancel' : 'Edit'}}</button>
            </div>
            <div *ngIf="restaurantForm.enabled">
                <button mat-raised-button
                    (click)="editRestaurant()"
                    color="primary">Submit</button>
            </div>
            <div>
                <mat-form-field>
                    <mat-chip-list #chipList
                        aria-label="Categories">
                        <mat-chip *ngFor="let category of getCategories()"
                            [removable]="true"
                            (removed)="openCategoryDeleteConfirmation(category)"
                            [value]="category.id">
                            {{category.name | titlecase}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="Add Category"
                            [matChipInputFor]="chipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            (matChipInputTokenEnd)="openCategoryAdditionConfirmation($event)">
                    </mat-chip-list>
                </mat-form-field>
            </div>
            <div>
                <div *ngFor="let food of restaurant.foods">
                    <p>{{food.name}}</p>
                    <p>{{food.description}}</p>
                    <p>{{food.price}}</p>
                    <mat-chip-list aria-label="Categories">
                        <mat-chip *ngFor="let category of food.categories"
                            [value]="category.id">
                            {{category.name}}
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </div>
        </form>
    </section>
</article>