<article>
    <section *ngIf="restaurant">
        <form [formGroup]="restaurantForm">
            <h1>Restaurant data</h1>
            <div>
                <mat-form-field appearance="outline"
                    class="form-field">
                    <mat-label>Name</mat-label>
                    <input matInput
                        formControlName="name">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline"
                    class="form-field">
                    <mat-label>Description</mat-label>
                    <textarea matInput
                        cdkTextareaAutosize
                        formControlName="description"></textarea>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline"
                    class="form-field">
                    <mat-chip-list #chipList
                        aria-label="Categories">
                        <mat-chip *ngFor="let category of restaurant.categories"
                            [removable]="restaurantForm.enabled"
                            (removed)="openCategoryDeleteConfirmation(category)"
                            [value]="category.id">
                            {{category.name | titlecase}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="Add Category"
                            [matChipInputFor]="chipList"
                            [disabled]="!restaurantForm.enabled"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            (matChipInputTokenEnd)="openCategoryAdditionConfirmation($event)">
                    </mat-chip-list>
                </mat-form-field>
            </div>
            <div class="buttons">
                <div *ngIf="!restaurantForm.enabled">
                    <button mat-raised-button
                        color="primary"
                        (click)="toggleForm()">Edit</button>
                </div>
                <div *ngIf="restaurantForm.enabled">
                    <button mat-raised-button
                        color="error"
                        (click)="cancel()">Cancel</button>
                </div>
                <div *ngIf="restaurantForm.enabled">
                    <button mat-raised-button
                        (click)="editRestaurant()"
                        color="primary">Submit</button>
                </div>
                <div *ngIf="!restaurantForm.enabled">
                    <button mat-raised-button
                        (click)="openDialog()"
                        color="primary">Add Food</button>
                </div>
            </div>
            <div *ngIf="restaurant.foods.length">
                <h1>Foods</h1>
                <div class="search">
                    <mat-form-field appearance="outline"
                        class="form-field">
                        <mat-label>Search foods</mat-label>
                        <input matInput
                            [formControl]="search">
                    </mat-form-field>
                </div>
                <div>
                    <app-restaurant-food *ngFor="let food of filteredFoods$ | async"
                        [food]="food"
                        [categories]="restaurant.categories"
                        (delete)="removeFood(food)"
                        (edit)="editFood($event)"></app-restaurant-food>
                </div>
            </div>
        </form>
    </section>
</article>