.address {
    padding:15px 30px;
    box-shadow: 0 0 10px 3px #D3D3D3;
    height:100%;
}

.actions {
    margin-top:15px;
}

.action {
    text-decoration: none;
    color:red;
    margin-right:10px;
    cursor: pointer;
}

.last-action {
    margin-left:10px;
}