<section>
    <form [formGroup]="loginForm"
        (ngSubmit)="submit()">
        <div>
            <mat-form-field appearance="outline"
                class="form-field">
                <mat-label>Username</mat-label>
                <input matInput
                    formControlName="username">
                <mat-error *ngIf="loginForm.get('username').hasError('required')">
                    Username is required
                </mat-error>
                <mat-error *ngIf="loginForm.get('username').hasError('minlength')">
                    Username must be at least {{minUsernameLength}} symbols
                </mat-error>
                <mat-error *ngIf="loginForm.get('username').hasError('maxlength')">
                    Username must be less than {{maxUsernameLength}} symbols
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline"
                class="form-field">
                <mat-label>Password</mat-label>
                <input matInput
                    formControlName="password"
                    type="password">
                <mat-error *ngIf="loginForm.get('password').hasError('required')">
                    Password is required
                </mat-error>
                <mat-error *ngIf="loginForm.get('password').hasError('minlength')">
                    Password must be at least {{minPasswordLength}} symbols
                </mat-error>
                <mat-error *ngIf="loginForm.get('password').hasError('maxlength')">
                    Password must be less than {{maxPasswordLength}} symbols
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-slide-toggle formControlName="isRestaurant"
                color="primary">Log in as restaurant</mat-slide-toggle>
        </div>
        <div>
            <button mat-raised-button
                color="primary"
                [disabled]="loginForm.invalid">Submit</button>
        </div>
    </form>
</section>