<nav>
    <h2>
        <a routerLink="/">Food Order</a>
    </h2>
    <ul *ngIf="!isLoggedIn()">
        <li>
            <a routerLink="/login"
                routerLinkActive="active">Login</a>
        </li>
        <li>
            <a routerLink="/register"
                routerLinkActive="active">Register</a>
        </li>
    </ul>
    <ul *ngIf="isLoggedIn() && isRestaurant()">
        <li>
            <a routerLink="/restaurant/profile"
                [routerLinkActiveOptions]="{exact: true}"
                routerLinkActive="active">Hello, {{user.name}}</a>
        </li>
        <li>
            <a routerLink="/restaurant/orders"
                routerLinkActive="active">Orders</a>
        </li>
        <li>
            <a routerLink="/restaurant/graphs"
                routerLinkActive="active">Graphs</a>
        </li>
        <li>
            <a routerLink="/restaurant/discount-codes"
                routerLinkActive="active">Discount Codes</a>
        </li>
        <li (click)="logOut()">
            <a>Log out</a>
        </li>
    </ul>
    <ul *ngIf="isLoggedIn() && isCustomer()">
        <li>
            <a routerLink="/customer/profile"
                routerLinkActive="active">Hello, {{user.name}}</a>
        </li>
        <li *ngIf="selectedRestaurant && numberOfItems">
            <div class="shopping-cart">
                <a routerLink="/restaurants/{{selectedRestaurant.id}}">
                    <mat-icon>shopping_cart</mat-icon>
                </a>
                <span *ngIf="numberOfItems"
                    class="cart-items-number">{{numberOfItems}}</span>
            </div>
        </li>
        <li>
            <a routerLink="/restaurants"
                routerLinkActive="active">Restaurants</a>
        </li>
        <li (click)="logOut()">Log out</li>
    </ul>
</nav>